*{
    background-color: #FEEC7E;
}

.Encabezado{
    background-color: #652F09;
    color: #FFFAFA;
    height: 57PX;
    border-style: solid #652f09;
    border-radius: 40px;
    padding: 15px;
    font-size: 25px;
    padding-left: 50px;
}

.cabeza1{
    background-color: #652F09;
    color: #FFFAFA;
    text-decoration: none;
    padding-left: 200px;
}

.cabeza2{
    background-color: #652F09;
    color: #FFFAFA;
    text-decoration: none;
    padding-left: 200px;
}

.cabeza3{
    background-color: #652F09;
    color: #FFFAFA;
    text-decoration: none;
    padding-left: 200px;
}

.cabeza4{
    background-color: #652F09;
    color: #FFFAFA;
    text-decoration: none;
    padding-left: 200px;
}


.deneni{
    background-color: #652F09;
    text-align: center;
}

.Cuadro{
    background-color:#DBA84C ;
    text-align: center;
}

.CuadroP{
    background-color:#DBA84C ;
    text-align: justify;
    padding: 0px 10px 0px 10px;

}

.MCuadro{
    margin-top: 5%;
    float: right;
    background-color:#DBA84C ;
    width: 70%;
    height: 70%;
    border-radius: 40px;
    font-size: 20px
}

.CCuadro{
    background-color: #331d10;
    margin-top: 5%;
    border-radius: 15px;
    width: 28%;
}

.Cuadro2{
    background-color: #331d10;
    border-radius: 15px;
    text-align: center;
    margin-right: 20px;
    color: #FFFAFA;
}

.CuadroP2{
    background-color: #331d10;
    font-size: 21px;
    border-radius: 15px;
    color: #FFFAFA;
    text-align: justify;
    padding: 0px 10px 0px 10px;
}

.Biblio{
    background-color: #B47726;
    border-radius: 15px;
    text-align: center;
    font-size: 35px;
    margin-top: 40px;
}